* {
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
}

.table1 {
    background-color: rgba(73, 57, 57, 0.4);
    color: black;
    padding: 20px;
    display: grid;
    border-style: solid;
    border-color: black;
    border-radius: 35px;
    border-top: none;
    border-bottom: none;
    justify-content: center;
    margin: auto;
    width: 20%;
    margin-top: 15px;
}

.table2 {
    background-color: rgba(73, 57, 57, 0.4);
    color: black;
    padding: 20px;
    display: grid;
    border-style: solid;
    border-color: black;
    border-radius: 35px;
    border-top: none;
    border-bottom: none;
    justify-content: center;
    margin: auto;
    width: 20%;
    margin-top: 15px;
}

h1 {
    font-weight: bold;
    font-size: larger;
    justify-content: center;
    display: flex;
}

button {
    background-color: black;
    color: white;
    border-radius: 20px;
    border-color: white;
    padding: 8px;
    cursor: pointer;  
}
button:hover {
    background-color: white;
    color: black;
    border-radius: 20px;
    border-color: black;
    padding: 8px;
    cursor: pointer;  
}

.bt {
    margin-top: 10px;
    justify-content: center;
    display: flex;
}
input {
    background-color: black;
    color: white;
    border-radius: 20px;
    border-color: white;
    padding: 2px;
    width: 320px;
}
hr {
    width: 320px;
    color: black;
    size: 22px;
    border-top: 1px solid;
}